<h1>Estimates</h1>

<%= render "estimates/estimate_titles" %>
    <% @estimates.each do |estimate| %>
      <%= render estimate %> 
    <% end %>
<%= render "estimates/estimate_footer" %>

<%= link_to 'New', new_estimate_path, :class => 'btn btn-primary' %>
