  <div class="field titles">
    <%= f.label :name %>
  </div>
  <div class="field titles">
    <%= f.label :type %>
  </div>
  <div class="field titles">
    <%= f.label :item %>
  </div>
  <div class="field titles">
    <%= f.label :quantity %>
  </div>

