  <div class="field titles">
    <%= f.label :name %>
  </div>
  <div class="field titles">
    <%= f.label :address %>
  </div>
  <div class="field titles">
    <%= f.label :client %>
  </div>
  <div class="field titles">
    <%= f.label :markup %>
  </div>

