<h1>Purchases</h1>
<%= render 'purchases/purchase_titles' %>
    <% @purchases.each do |purchase| %>
    <%= render purchase %>
    <% end %>
<%= render 'purchases/purchase_footer' %>

<%= link_to 'New', new_purchase_path, :class => 'btn btn-primary' %>
