<h1>Rooms</h1>
<%= render "rooms/room_titles" %>
    <% @rooms.each do |room| %>
    <%= render room %>
    <% end %>
<%= render "rooms/room_footer" %>
<%= link_to 'New', new_room_path, :class => 'btn btn-primary' %>
