  <div class="field titles">
    <%= f.label :supplier %>
  </div>
  <div class="field titles">
    <%= f.label :sent_at %>
  </div>
  <div class="field titles">
    <%= f.label :instructions %>
  </div>

