<h1>Purchaseorders</h1>
<%= render 'purchaseorders/purchaseorder_titles' %>
    <% @purchaseorders.each do |purchaseorder| %>
    <%= render purchaseorder %>
    <% end %>
<%= render 'purchaseorders/purchaseorder_footer' %>

<%= link_to 'New', new_purchaseorder_path, :class => 'btn btn-primary' %>
