  <div class="field titles">
    <%= f.label :quantity %>
  </div>
  <div class="field titles">
    <%= f.label :price_ex_vat %>
  </div>
  <div class="field titles">
    <%= f.label :price_inc_vat %>
  </div>
  <div class="field titles">
    <%= f.label :invoice %>
  </div>

